html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    background-color: black;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 5px;

    justify-items: center;
    align-items: center
}

.container > div {
    background-color: #7159c1;
    width: 50%;
    height: 50%;
}