html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr; /* frações */
    grid-template-rows: 20vh 70vh 10vh; /* visão da altura */
    /* grid-gap: 20px;  */
    /* grid-row-gap: 20px; */
    /* grid-column-gap: 50px; */
    grid-template-areas: 
    "h h"
    "m a"
    "f f";
}

header {
    background-color: yellow;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3;
    grid-row: 3/4; */
    grid-area: h;
}

main {
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-area: m;
}

aside {
    background-color: green;
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-area: a;
}

footer {
    background-color: red;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-area: f;
}